DATABASE_URL=postgresql://langgraph:langgraph@localhost:5432/langgraph

OPENAI_API_KEY=
OPENAI_MODEL=default
OPENAI_MODEL_DEFAULT=gpt-4o-mini
OPENAI_MODEL_FAST=gpt-4o-mini
OPENAI_MODEL_NORMAL=gpt-5-nano
OPENAI_MODEL_SMART=gpt-5-mini
OPENAI_MODEL_REASONING=o4-mini
