MODEL_PROVIDER=openai
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
OLLAMA_MODEL=qwen3:1.7b
OLLAMA_BASE_URL=http://localhost:11434
TAVILY_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=langchain-docs-2026

