# LangSmith (활성화 하려면 두 값 모두 채울 것)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key
LANGCHAIN_PROJECT=langgraph-advanced-09

OPENAI_API_KEY=
OPENAI_MODEL=default
OPENAI_MODEL_DEFAULT=gpt-4o-mini
OPENAI_MODEL_FAST=gpt-4o-mini
OPENAI_MODEL_NORMAL=gpt-5-nano
OPENAI_MODEL_SMART=gpt-5-mini
OPENAI_MODEL_REASONING=o4-mini
